<div class="div-create-content-form">
  <form>
    <label>ID:</label><br>
    <input [(ngModel)]="id" name="id"><br>

    <label for="card_author">Author:</label><br>
    <input id="card_author" type="text" [(ngModel)]="author" name="author"><br>

    <label for="card_imgurl">Image URL:</label><br>
    <input id="card_imgurl" type="text" [(ngModel)]="imgUrl" name="imgUrl"><br>

    <label for="card_type">Type:</label><br>
    <input id="card_type" type="text" [(ngModel)]="type" name="type"><br>

    <label for="card_title">Title:</label><br>
    <input id="card_title" type="text" [(ngModel)]="title" name="title"><br>

    <label for="card_body">Body:</label><br>
    <input id="card_body" type="text" [(ngModel)]="body" name="body"><br>

    <label for="card_tags">Tags:</label><br>
    <input id="card_tags" type="text" [(ngModel)]="tags" name="tags"><br>

    <button mat-stroked-button type="submit" (click)="addNewCard()"> Add to content list</button><br>
    <p>{{errorMssg}}</p>
  </form>
</div>
