.div-create-content-form{
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  background-color: bisque;
}

.div-create-content-form form{
  width: 500px;
  margin: 0 auto;
}

.div-create-content-form form input{
  padding: 5px;
  margin-bottom: 10px;
}

.div-create-content-form form button{
  padding: 10px;
  margin: 10px;
  transition: 1s;
}

.div-create-content-form form button:hover{
  padding: 15px;
  margin: 25px;
}
