




.type-form{
  width: 200px;
  margin: 0 auto;
}
.submit-btn{
  margin: 10px;
  width: 100px;
  height: 20px;
}

.isHorror{
  border: #1976d2 solid 2px;
  display: block;
}

.isComedy{
  border: bisque solid 2px;
  display: block;
}

.isCreative{
  border: brown solid 2px;
  display: block;
}
