
<app-create-component></app-create-component>

<!--<app-create-content (newCardEvent)="addToContentList($event)"></app-create-content>-->
<!--<app-content-card *ngFor="let item of contentArray"></app-content-card>-->
<!--<app-content-card *ngFor="let item of (contentArray | contentExist: value.value)"-->
<!--                  [content] = "item">-->
<!--</app-content-card>-->

<app-content-card *ngFor="let item of contentArray; index as i; last as isLast" [content]="item" [class.is-last]="isLast">
</app-content-card>

<!--<app-content-card *ngFor="let item of contentArray; index as i; last as isLast" [content]="item" [class.is-last]="isLast">-->
<!--</app-content-card>-->

<!--<app-content-card class="isHorror" *ngFor="let item of (contentArray | contentFilter: 'horror')"-->
<!--                  [content] = "item">-->

<!--</app-content-card>-->

<!--<app-content-card class="isCreative" *ngFor="let item of (contentArray | contentFilter: 'creative')" [content] = "item">-->

<!--</app-content-card>-->

<!--<app-content-card class="isComedy" *ngFor="let item of (contentArray | contentFilter: 'comedy')" [content] = "item">-->

<!--</app-content-card>-->
