.div-messages{
  padding: 10px;
  border: #aaaaaa 0.5px solid;
  display: block;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

div div{
  width: 120px;
  margin: 0 auto;
  padding: 10px;
}

.mssgs-header{
  position: center;
}
