<div id="items-display" class="items-display">
  <br><br>
    <div class="div-content-id">{{contentItem.id}}</div><br>
    <h1>{{contentItem.author}}</h1><br>
    <div class="div-content-img" [ngSwitch]='contentItem.imgUrl'>
      <div *ngSwitchCase='null'>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Hummus_Dip_%2830863436677%29.jpg" width="200" height="200"/>
      </div>
      <div *ngSwitchDefault>
        <img [src]="contentItem.imgUrl" width="200" height="200">
      </div>
    </div>
    <p>{{contentItem.type}}</p>
    <p>{{contentItem.title}}</p>

    <button mat-basic-chip><a [routerLink]="['/content']" routerLinkActive="hummus">Go Back</a></button>
    <!--    <mat-card-footer appUnderline changeType="boldTags" class="div-content-tags" *ngFor="let tag of content.tags">{{tag}}</mat-card-footer><br>-->
</div>
