<!--
display the contents of the contentList in the content card's html
-->
<style>
  .items-display{
    width: 500px;
    margin: 0 auto;
    padding: 25px;
    background-color: antiquewhite;
    margin-bottom: 10px;
  }

</style>
<div id="items-display" class="items-display">
  <div class="div-content-id">{{content.id}}</div>
  <div class="div-content-author">{{content.author}}</div>
  <div class="div-content-img" [ngSwitch]='content.imgUrl'>
    <div *ngSwitchCase='null'>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Hummus_Dip_%2830863436677%29.jpg" width="200" height="200">
    </div>
    <div *ngSwitchDefault>
      <img [src]="content.imgUrl" (click)="showId(content.id)" width="200" height="200">
    </div>
  </div>
  <div class="div-content-type">{{content.type}}</div>
  <div class="div-content-title">{{content.title}}</div>
  <div class="div-content-tags">{{content.tags}}</div>
</div>
